<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projet4a">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Injection.SportApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projet4A">
        <activity android:name=".Presentation.HomePage.HomePageActivity"></activity>
        <activity
            android:name=".Presentation.Registration.RegistrationActivity"
            android:parentActivityName=".Presentation.Main.MainActivity"></activity>
        <activity android:name=".Presentation.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>